.title {
    background-color: red;
    color: aliceblue;
    text-align: center;
}

.menu{
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sauce{
    background-color: blue;
    color: rgb(226, 186, 8);
}

.chicken{
    background-color: rgb(250, 151, 2);
    color: rgb(73, 42, 2);
}

.pickle{
    background-color: rgb(23, 66, 3);
    color: white;
}